<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elitel.yc.daoyc.mapper.sqlserverMapper.baseMapper.dbo.StRsvrevsRMapper">
  <resultMap id="BaseResultMap" type="com.elitel.yc.entity.baseEntity.StRsvrevsR">
    <id column="STCD" jdbcType="CHAR" property="stcd" />
    <id column="IDTM" jdbcType="TIMESTAMP" property="idtm" />
    <id column="STTDRCD" jdbcType="CHAR" property="sttdrcd" />
    <result column="HTRZ" jdbcType="NUMERIC" property="htrz" />
    <result column="LTRZ" jdbcType="NUMERIC" property="ltrz" />
    <result column="MXINQ" jdbcType="NUMERIC" property="mxinq" />
    <result column="MNINQ" jdbcType="NUMERIC" property="mninq" />
    <result column="MXOTQ" jdbcType="NUMERIC" property="mxotq" />
    <result column="MNOTQ" jdbcType="NUMERIC" property="mnotq" />
    <result column="MXW" jdbcType="NUMERIC" property="mxw" />
    <result column="MNW" jdbcType="NUMERIC" property="mnw" />
    <result column="HTRZTM" jdbcType="TIMESTAMP" property="htrztm" />
    <result column="LTRZTM" jdbcType="TIMESTAMP" property="ltrztm" />
    <result column="MXINQTM" jdbcType="TIMESTAMP" property="mxinqtm" />
    <result column="MNINQTM" jdbcType="TIMESTAMP" property="mninqtm" />
    <result column="MXOTQTM" jdbcType="TIMESTAMP" property="mxotqtm" />
    <result column="MNOTQTM" jdbcType="TIMESTAMP" property="mnotqtm" />
    <result column="MXWTM" jdbcType="TIMESTAMP" property="mxwtm" />
    <result column="MNWTM" jdbcType="TIMESTAMP" property="mnwtm" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from dbo.ST_RSVREVS_R
    where STCD = #{stcd,jdbcType=CHAR}
      and IDTM = #{idtm,jdbcType=TIMESTAMP}
      and STTDRCD = #{sttdrcd,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.elitel.yc.entity.baseEntity.StRsvrevsR">
    insert into dbo.ST_RSVREVS_R (STCD, IDTM, STTDRCD, 
      HTRZ, LTRZ, MXINQ, 
      MNINQ, MXOTQ, MNOTQ, 
      MXW, MNW, HTRZTM, 
      LTRZTM, MXINQTM, MNINQTM, 
      MXOTQTM, MNOTQTM, MXWTM, 
      MNWTM)
    values (#{stcd,jdbcType=CHAR}, #{idtm,jdbcType=TIMESTAMP}, #{sttdrcd,jdbcType=CHAR}, 
      #{htrz,jdbcType=NUMERIC}, #{ltrz,jdbcType=NUMERIC}, #{mxinq,jdbcType=NUMERIC}, 
      #{mninq,jdbcType=NUMERIC}, #{mxotq,jdbcType=NUMERIC}, #{mnotq,jdbcType=NUMERIC}, 
      #{mxw,jdbcType=NUMERIC}, #{mnw,jdbcType=NUMERIC}, #{htrztm,jdbcType=TIMESTAMP}, 
      #{ltrztm,jdbcType=TIMESTAMP}, #{mxinqtm,jdbcType=TIMESTAMP}, #{mninqtm,jdbcType=TIMESTAMP}, 
      #{mxotqtm,jdbcType=TIMESTAMP}, #{mnotqtm,jdbcType=TIMESTAMP}, #{mxwtm,jdbcType=TIMESTAMP}, 
      #{mnwtm,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.elitel.yc.entity.baseEntity.StRsvrevsR">
    update dbo.ST_RSVREVS_R
    set HTRZ = #{htrz,jdbcType=NUMERIC},
      LTRZ = #{ltrz,jdbcType=NUMERIC},
      MXINQ = #{mxinq,jdbcType=NUMERIC},
      MNINQ = #{mninq,jdbcType=NUMERIC},
      MXOTQ = #{mxotq,jdbcType=NUMERIC},
      MNOTQ = #{mnotq,jdbcType=NUMERIC},
      MXW = #{mxw,jdbcType=NUMERIC},
      MNW = #{mnw,jdbcType=NUMERIC},
      HTRZTM = #{htrztm,jdbcType=TIMESTAMP},
      LTRZTM = #{ltrztm,jdbcType=TIMESTAMP},
      MXINQTM = #{mxinqtm,jdbcType=TIMESTAMP},
      MNINQTM = #{mninqtm,jdbcType=TIMESTAMP},
      MXOTQTM = #{mxotqtm,jdbcType=TIMESTAMP},
      MNOTQTM = #{mnotqtm,jdbcType=TIMESTAMP},
      MXWTM = #{mxwtm,jdbcType=TIMESTAMP},
      MNWTM = #{mnwtm,jdbcType=TIMESTAMP}
    where STCD = #{stcd,jdbcType=CHAR}
      and IDTM = #{idtm,jdbcType=TIMESTAMP}
      and STTDRCD = #{sttdrcd,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 'true' as QUERYID,STCD, IDTM, STTDRCD, HTRZ, LTRZ, MXINQ, MNINQ, MXOTQ, MNOTQ, 
    MXW, MNW, HTRZTM, LTRZTM, MXINQTM, MNINQTM, MXOTQTM, MNOTQTM, MXWTM, MNWTM
    from dbo.ST_RSVREVS_R
    where STCD = #{stcd,jdbcType=CHAR}
      and IDTM = #{idtm,jdbcType=TIMESTAMP}
      and STTDRCD = #{sttdrcd,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select STCD, IDTM, STTDRCD, HTRZ, LTRZ, MXINQ, MNINQ, MXOTQ, MNOTQ, MXW, MNW, HTRZTM, 
    LTRZTM, MXINQTM, MNINQTM, MXOTQTM, MNOTQTM, MXWTM, MNWTM
    from dbo.ST_RSVREVS_R
  </select>
</mapper>