<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elitel.yc.daoyc.mapper.sqlserverMapper.baseMapper.dbo.StTdfrFMapper">
  <resultMap id="BaseResultMap" type="com.elitel.yc.entity.baseEntity.StTdfrF">
    <id column="STCD" jdbcType="CHAR" property="stcd" />
    <id column="UNITNAME" jdbcType="CHAR" property="unitname" />
    <id column="PLCD" jdbcType="CHAR" property="plcd" />
    <id column="FYMDH" jdbcType="TIMESTAMP" property="fymdh" />
    <id column="IYMDH" jdbcType="TIMESTAMP" property="iymdh" />
    <id column="YMDH" jdbcType="TIMESTAMP" property="ymdh" />
    <result column="TDZ" jdbcType="NUMERIC" property="tdz" />
    <result column="STRMSRG" jdbcType="NUMERIC" property="strmsrg" />
    <result column="HLTDMK" jdbcType="CHAR" property="hltdmk" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from dbo.ST_TDFR_F
    where STCD = #{stcd,jdbcType=CHAR}
      and UNITNAME = #{unitname,jdbcType=CHAR}
      and PLCD = #{plcd,jdbcType=CHAR}
      and FYMDH = #{fymdh,jdbcType=TIMESTAMP}
      and IYMDH = #{iymdh,jdbcType=TIMESTAMP}
      and YMDH = #{ymdh,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="com.elitel.yc.entity.baseEntity.StTdfrF">
    insert into dbo.ST_TDFR_F (STCD, UNITNAME, PLCD, 
      FYMDH, IYMDH, YMDH, 
      TDZ, STRMSRG, HLTDMK)
    values (#{stcd,jdbcType=CHAR}, #{unitname,jdbcType=CHAR}, #{plcd,jdbcType=CHAR}, 
      #{fymdh,jdbcType=TIMESTAMP}, #{iymdh,jdbcType=TIMESTAMP}, #{ymdh,jdbcType=TIMESTAMP}, 
      #{tdz,jdbcType=NUMERIC}, #{strmsrg,jdbcType=NUMERIC}, #{hltdmk,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.elitel.yc.entity.baseEntity.StTdfrF">
    update dbo.ST_TDFR_F
    set TDZ = #{tdz,jdbcType=NUMERIC},
      STRMSRG = #{strmsrg,jdbcType=NUMERIC},
      HLTDMK = #{hltdmk,jdbcType=CHAR}
    where STCD = #{stcd,jdbcType=CHAR}
      and UNITNAME = #{unitname,jdbcType=CHAR}
      and PLCD = #{plcd,jdbcType=CHAR}
      and FYMDH = #{fymdh,jdbcType=TIMESTAMP}
      and IYMDH = #{iymdh,jdbcType=TIMESTAMP}
      and YMDH = #{ymdh,jdbcType=TIMESTAMP}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 'true' as QUERYID,STCD, UNITNAME, PLCD, FYMDH, IYMDH, YMDH, TDZ, STRMSRG, 
    HLTDMK
    from dbo.ST_TDFR_F
    where STCD = #{stcd,jdbcType=CHAR}
      and UNITNAME = #{unitname,jdbcType=CHAR}
      and PLCD = #{plcd,jdbcType=CHAR}
      and FYMDH = #{fymdh,jdbcType=TIMESTAMP}
      and IYMDH = #{iymdh,jdbcType=TIMESTAMP}
      and YMDH = #{ymdh,jdbcType=TIMESTAMP}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select STCD, UNITNAME, PLCD, FYMDH, IYMDH, YMDH, TDZ, STRMSRG, HLTDMK
    from dbo.ST_TDFR_F
  </select>
</mapper>