<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elitel.yc.daoyc.mapper.sqlserverMapper.baseMapper.dbo.StTideavRMapper">
  <resultMap id="BaseResultMap" type="com.elitel.yc.entity.baseEntity.StTideavR">
    <id column="STCD" jdbcType="CHAR" property="stcd" />
    <id column="IDTM" jdbcType="TIMESTAMP" property="idtm" />
    <id column="STTDRCD" jdbcType="CHAR" property="sttdrcd" />
    <result column="AVHTDZ" jdbcType="NUMERIC" property="avhtdz" />
    <result column="AVLTDZ" jdbcType="NUMERIC" property="avltdz" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from dbo.ST_TIDEAV_R
    where STCD = #{stcd,jdbcType=CHAR}
      and IDTM = #{idtm,jdbcType=TIMESTAMP}
      and STTDRCD = #{sttdrcd,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.elitel.yc.entity.baseEntity.StTideavR">
    insert into dbo.ST_TIDEAV_R (STCD, IDTM, STTDRCD, 
      AVHTDZ, AVLTDZ)
    values (#{stcd,jdbcType=CHAR}, #{idtm,jdbcType=TIMESTAMP}, #{sttdrcd,jdbcType=CHAR}, 
      #{avhtdz,jdbcType=NUMERIC}, #{avltdz,jdbcType=NUMERIC})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.elitel.yc.entity.baseEntity.StTideavR">
    update dbo.ST_TIDEAV_R
    set AVHTDZ = #{avhtdz,jdbcType=NUMERIC},
      AVLTDZ = #{avltdz,jdbcType=NUMERIC}
    where STCD = #{stcd,jdbcType=CHAR}
      and IDTM = #{idtm,jdbcType=TIMESTAMP}
      and STTDRCD = #{sttdrcd,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 'true' as QUERYID,STCD, IDTM, STTDRCD, AVHTDZ, AVLTDZ
    from dbo.ST_TIDEAV_R
    where STCD = #{stcd,jdbcType=CHAR}
      and IDTM = #{idtm,jdbcType=TIMESTAMP}
      and STTDRCD = #{sttdrcd,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select STCD, IDTM, STTDRCD, AVHTDZ, AVLTDZ
    from dbo.ST_TIDEAV_R
  </select>
</mapper>