<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elitel.yc.daoyc.mapper.sqlserverMapper.baseMapper.dbo.WrMpHourwRMapper">
  <resultMap id="BaseResultMap" type="com.elitel.yc.entity.baseEntity.WrMpHourwR">
    <id column="DT" jdbcType="TIMESTAMP" property="dt" />
    <id column="MP_CD" jdbcType="CHAR" property="mpCd" />
    <result column="HOUR_W" jdbcType="NUMERIC" property="hourW" />
    <result column="SPE_REG_DATA" jdbcType="CHAR" property="speRegData" />
    <result column="TS" jdbcType="TIMESTAMP" property="ts" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from dbo.WR_MP_HOURW_R
    where DT = #{dt,jdbcType=TIMESTAMP}
      and MP_CD = #{mpCd,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.elitel.yc.entity.baseEntity.WrMpHourwR">
    insert into dbo.WR_MP_HOURW_R (DT, MP_CD, HOUR_W, 
      SPE_REG_DATA, TS)
    values (#{dt,jdbcType=TIMESTAMP}, #{mpCd,jdbcType=CHAR}, #{hourW,jdbcType=NUMERIC}, 
      #{speRegData,jdbcType=CHAR}, #{ts,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.elitel.yc.entity.baseEntity.WrMpHourwR">
    update dbo.WR_MP_HOURW_R
    set HOUR_W = #{hourW,jdbcType=NUMERIC},
      SPE_REG_DATA = #{speRegData,jdbcType=CHAR},
      TS = #{ts,jdbcType=TIMESTAMP}
    where DT = #{dt,jdbcType=TIMESTAMP}
      and MP_CD = #{mpCd,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 'true' as QUERYID,DT, MP_CD, HOUR_W, SPE_REG_DATA, TS
    from dbo.WR_MP_HOURW_R
    where DT = #{dt,jdbcType=TIMESTAMP}
      and MP_CD = #{mpCd,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select DT, MP_CD, HOUR_W, SPE_REG_DATA, TS
    from dbo.WR_MP_HOURW_R
  </select>
</mapper>